aiohttp>=3.9
aiocache>=0.12
aiogram
aiofiles
aiosqlite
alembic
APScheduler
asyncpg
fastapi
google-auth
greenlet
httpx
jinja2
magic-filter
matplotlib
plotly
pillow
pydantic
pydantic-settings
python-dotenv
python-slugify
PyYAML
redis
reportlab
requests
sentry-sdk
SQLAlchemy
typing_extensions
uvicorn
gspread
